assignment_2/kungalv_slutpriser/* linguist-vendored
assignment_3/easy_ham/* linguist-vendored
assignment_3/hard_ham/* linguist-vendored
assignment_3/spam/* linguist-vendored
assignment_6/data/* linguist-vendored